@model IEnumerable<TravelAgency.Models.Flights>
@{int i = 0;}
@foreach (var item in Model)
{
    <div style="border: thin solid #b78a62;
border-radius: 0.5vw;
    margin: auto;
    /* background-color: sandybrown; */
    margin-top: 2vh;
    display: flex;">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid" style="border-radius: 6px;" src="images/ElAl.png" alt="">
        </a>
        <div>
            <div style="display:flex">
                <div style="margin-left:5vw">
                    <div style="font-weight:bold">Appaearance</div>
                    <div><label class="bold">Date:</label>  @Html.DisplayFor(modelItem => item.AppppearanceDateTime)</div>
                    <div><label style="font-weight:bold">Airport:</label>  @Html.DisplayFor(modelItem => item.AppearanceAirport.AirportDetailes) </div>
                    <div><label style="font-weight:bold">Terminal:</label>  @Html.DisplayFor(modelItem => item.AppearanceTerminal) </div>
                </div>
                <div style="margin-left:5vw">
                    <div style="font-weight:bold">Landing</div>
                    <div><label style="font-weight:bold">Date:</label>  @Html.DisplayFor(modelItem => item.LandingDateTime)</div>
                    <div> <label style="font-weight:bold">Airport:</label>  @Html.DisplayFor(modelItem => item.LandingAirport.AirportDetailes) </div>
                    <div><label style="font-weight:bold">Terminal:</label>  @Html.DisplayFor(modelItem => item.LandingTerminal)</div>
                </div>
            </div>
            <div style="width:100%;display:flex;margin-left:auto;margin-right:1vw">
                <div style="margin-left:5vw"><label style="font-weight:bold">Ailine:</label>  @Html.DisplayFor(modelItem => item.Airlines.Name)</div>
                <div style="margin-left:5vw"><label style="font-weight:bold">Price:</label>  <label id="price@(i)" class="price" data-id="@Html.DisplayFor(modelItem => item.Price)">@Html.DisplayFor(modelItem => item.Price)</label> <label class="currency">$</label></div>
                <button data-id="@item.Id" style="margin-left:auto;margin-right:2vw" class="btn btn-primary text-uppercase js-scroll-trigger btnLink" name="btnLink">BUY</button>
            </div>
        </div>
    </div>
    i++;
}


@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/custom-materialize.js"></script>
    <script src="~/js/flatpickr.js"></script>
}
