@model IEnumerable<TravelAgency.Models.Flights>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
//כותבים FORM  כדי שהוא יודע להחזיר את המידע לקונטרולר
<form>
    @*<label>enter e</label>
        <input name="search1" placeholder="name"/>
        <button>SEARCH</button>*@
    <label>מתיולאן?</label>
    <select name="from" class="form-control" asp-items="ViewBag.AppearanceAirportId"></select>
    <select name="to" class="form-control" asp-items="ViewBag.LandingAirportId"></select>
    <input name="departure" type="date" placeholder="Departure" />
    <input name="passengers" placeholder="Passengers" />
    <button>SEARCH</button>


</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AppppearanceDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandingDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppearanceTerminal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandingTerminal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservedSeats)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Airlines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppearanceAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandingAirport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppppearanceDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppearanceTerminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingTerminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airlines.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppearanceAirport.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingAirport.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
