@model IEnumerable<TravelAgency.Models.Flights>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AppearanceAirportId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandingAirportId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppppearanceDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandingDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppearanceTerminal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandingTerminal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservedSeats)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppearanceAirportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingAirportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppppearanceDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppearanceTerminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingTerminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
