@model IEnumerable<TravelAgency.Models.Order>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightId)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.DateOrder)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
