@model IEnumerable<TravelAgency.Models.OrderPassagers>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<form style="margin-right: auto;
    width:fit-content;
    font-size:large;
    font-weight:100;
    text-emphasis-color:brown;
    margin-left: auto;
    color:brown;
    background-color:sandybrown;
    padding: 10vh;
    border-radius: 0 0 10px 10px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passanger)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passanger.Id)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </form>
