@model IEnumerable<TravelAgency.Models.Airports>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="margin-right: auto;
    width:fit-content;
    font-size:large;
    font-weight:100;
    text-emphasis-color:brown;
    margin-left: auto;
    background-color:sandybrown;
    color:brown;
    padding: 10vh;
    border-radius: 0 0 10px 10px;">
    <p>
        <a asp-action="Create" style="color:indigo; font-size:larger;">Create New</a>
    </p>


    <form asp-action="Index">
        <label>Enter Name:</label>
        <input type="text" name="Name" />
        <input type="submit" value="Filter" />
    </form>


    <table class="table" style="color:brown">
        @*<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AirportDetailes)
                    </th>
                    <th></th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportDetailes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>