@model IEnumerable<TravelAgency.Models.Clients>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<form style="margin-right: auto;
    /*width:fit-content;*/
    font-size:large;
    font-weight:100;
    text-emphasis-color:brown;
    margin-left: auto;
    background-color:sandybrown;
    color:black;
    padding: 10vh;
    border-radius: 0 0 10px 10px;">
    <p>
        <a asp-action="Create" style="color:indigo; font-size:larger;">Create New</a>
    </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Director)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Director)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
