@model IEnumerable<TravelAgency.Models.Flights>

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/flatpickr.js"></script>
@*כותבים FORM  כדי שהוא יודע להחזיר את המידע לקונטרולר*@
<div class="s002">
    <form>
        <fieldset>
            <legend>SEARCH Flight</legend>
        </fieldset>
        <div class="inner-form">
            @if (ViewBag.passangers != null && ViewBag.passangers != 0)
            {
                <div style="background-color: #b78a62;color: white; width: 100%;font-weight: bold;text-align:center">
                    Flight from <label id="from" data-id="@ViewBag.from.Id">@ViewBag.from.AirportDetailes  </label>
                    to <label id="to" data-id="@ViewBag.to.Id">@ViewBag.to.AirportDetailes</label>
                    on <label id="departure">@ViewBag.departure</label>
                    <div><label id="passangers">@ViewBag.passangers</label> passangers</div>
                </div>
            }
            else
            {
                <div class="input-field first-wrap">
                    <div class="searchDescription">From</div>
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                        </svg>
                    </div>
                    @*<input id="search" type="text" placeholder="What are you looking for?" />*@
                    <select name="from" asp-items="ViewBag.AppearanceAirportId"></select>
                </div>
                <div class="input-field first-wrap">
                    <div class="searchDescription">To</div>
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                        </svg>
                    </div>
                    @*<input id="search" type="text" placeholder="What are you looking for?" />*@
                    <select name="to" asp-items="ViewBag.LandingAirportId"></select>
                </div>
                <div class="input-field second-wrap">
                    <div class="searchDescription">Depart</div>
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                        </svg>
                    </div>
                    <input name="departure" class="datepicker" id="depart" type="text" placeholder="29 Aug 2018" />
                    @*<input name="departure" type="date" placeholder="Departure" />*@
                </div>
                <div class="input-field fouth-wrap">
                    <div class="searchDescription">Passangers</div>
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                        </svg>
                    </div>
                    @*<select data-trigger="" name="choices-single-defaul">
                            <option placeholder="">2 Adults</option>
                            <option>3 Adults</option>
                            <option>4 Adults</option>
                            <option>5 Adults</option>
                        </select>*@
                    <input name="passengers" placeholder="Passengers" />
                </div>
                <div class="input-field fifth-wrap">
                    <div style="visibility:hidden">Search</div>
                    <button class="btn-search">SEARCH</button>
                </div>
            }
        </div>
    </form>

</div>



<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
            <button class="btn btn-primary text-uppercase js-scroll-trigger order" id="order" style="margin:2vw">ORDER</button>
        </div>
    </div>
</div>

@if (ViewBag.passangers != null && ViewBag.passangers != 0)
{
    <div>
        <div id="ILSCurrency" data-id="ILS" style="margin-left:0">Show price on ILS currency</div>
        <div id="USDCurrency" data-id="USD" style="margin-left:0">Show price on USD currency</div>
    </div>
    <div style="width: max-content;
    margin-left: auto;
    margin-top: 2vh;
    margin-right: 11.8vw;">
        <label>Order by </label>
        <button data-id="Price" class="btn btn-primary text-uppercase js-scroll-trigger" id="SortPrice">Price</button>
        <button data-id="Fastest" class="btn btn-primary text-uppercase js-scroll-trigger" id="SortFaster">Faster</button>
    </div>


}
<div style="display:flex">
    @if (ViewBag.passangers != null && ViewBag.passangers != 0)
    {
        <aside style="width:17vw;margin-left:8vw;margin-top:2vh">
            <div style="font-weight:bold;font-size:1.5vw">Filter departure time</div>
            <hr style="margin-top:0;" />
            <div>
                <strong>From </strong><strong id="amount" class="amount"></strong>
            </div>
            <br />
            <div id="slider"></div>
            <div style="visibility:collapse"><input value="08:00" id="start" /><input value="17:00" id="end" /></div>

            
        </aside>
    }
        <div id="flights" style="width:60vw;margin-left:2vw">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                <div style="border: thin solid #b78a62;
border-radius: 0.5vw;
    margin: auto;
    /* background-color: sandybrown; */
    margin-top: 2vh;
    display: flex;">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <img class="img-fluid" style="border-radius: 6px;" src="images/ElAl.png" alt="">
                    </a>
                    <div>
                        <div style="display:flex">
                            <div style="margin-left:5vw">
                                <div style="font-weight:bold">Appaearance</div>
                                <div><label class="bold" style="font-size:2vw"></label>  @Html.DisplayFor(modelItem => item.AppppearanceDateTime)</div>
                                <div><label style="font-weight:bold">Airport:</label>  @Html.DisplayFor(modelItem => item.AppearanceAirport.AirportDetailes) </div>
                                <div><label style="font-weight:bold">Terminal:</label>  @Html.DisplayFor(modelItem => item.AppearanceTerminal) </div>
                            </div>
                            <div style="margin-left:5vw">
                                <div style="font-weight:bold">Landing</div>
                                <div><label class="bold" style="font-size:2vw"></label>  @Html.DisplayFor(modelItem => item.LandingDateTime)</div>
                                <div> <label style="font-weight:bold">Airport:</label>  @Html.DisplayFor(modelItem => item.LandingAirport.AirportDetailes) </div>
                                <div><label style="font-weight:bold">Terminal:</label>  @Html.DisplayFor(modelItem => item.LandingTerminal)</div>
                            </div>
                        </div>
                        <div style="width:100%;display:flex;margin-left:auto;margin-right:1vw">
                            <div style="margin-left:5vw"><label style="font-weight:bold">Ailine:</label>  @Html.DisplayFor(modelItem => item.Airlines.Name)</div>
                            <div style="margin-left:5vw"><label style="font-weight:bold">Price:</label>  <label id="price@(i)" class="price" data-id="@Html.DisplayFor(modelItem => item.Price)">@Html.DisplayFor(modelItem => item.Price)</label> <label class="currency">$</label></div>
                            <button data-id="@item.Id" style="margin-left:auto;margin-right:2vw" class="btn btn-primary text-uppercase js-scroll-trigger btnLink" name="btnLink">BUY</button>
                        </div>
                    </div>
                </div>
                i++;
            }
        </div>

</div>

<hr />
<div style="margin-top: 10vh;padding-left: 5vw;display:flex">
    <div style="padding: 20px;justify-content:space-between;
    border: thin solid #b78a62;
    border-radius: 3px;width:min-content">
        <div>Monthly orders:</div>
        <div id="Graph"></div>
        <div>June&nbsp;&nbsp;  July&nbsp;&nbsp;  Aug&nbsp;  Sept </div>
    </div>
    <div style="margin-left:15vw">
        <iframe width="220" height="200" src="https://www.youtube.com/embed/AtMzngYdx4s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

@section Scripts{
    <script src="~/js/search.js"></script>
    <script src="~/js/OrderGraph.js"></script>
    <script src="~/js/custom-materialize.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}

<script>
    flatpickr(".datepicker",
        {});

</script>